@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
    font-family: 'Poppins',sans-serif;
}


/* hero */
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,41,0.3),rgba(12,3,51,0.3));
    position:relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* navbar */

/*  
.nav .logo{
    width: 80px; 
    padding-right: 300px;
    cursor: pointer;
    position: absolute;

}
*/

.nav{
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1px 8%;
    justify-content: space-between;
    align-items: center;
    background-color: #302f2f;
   
}


.nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

.nav ul.slide{
    opacity: 100%;
    transform: translateX(0);
}

/* button logout */
.nav ul li a.logout{
    display: inline;
    list-style: none;
    width: 20%;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    border: 2px solid white;
    padding: 7px 12px;
    
    background-color: #fff;
    transition: 0.5s;
}

.nav ul li a.logout:hover{
    color: white;
    background-color: transparent;
   
}
.nav ul li{
    display: inline-block;
    position: relative;
}

.nav ul li a{
    text-decoration: none;
    color :white;
    text-transform: uppercase;
    font-size: 15px;
}
.nav ul li a:hover{
   
    color :#009688;
   
}
.nav ul li::after{
    content: '';
    height: 3px;
    width: 0;  
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.nav ul li:hover::after{
   width: 100%;
}







/* teks bandung */
.content{
    text-align: center ;
}

.content h3{
    align-items: center;
    font-size :100px;
    color: white;
    font-weight: 700;
    margin-bottom: 120px;
    transition: 0.5s;
    padding-top: 160px;
}
.content h3:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.content p{
    text-decoration: none;
    align-items: center;
    display: inline-block;
    color: white;
    font-size: 19px;
    border: 2px solid white ;
    padding: 40px 90px;
    border-radius: 50px;
    justify-content: space-evenly;
    padding-left: 40px;
    text-align: justify;

}

.gambar{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}



/* menu  */


.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}


/* animasi menu */

.menu-toggle span:nth-child(2){
    /* background-color: red; */
     transform-origin:  0 0;
}

.menu-toggle span:nth-child(4){
    /* background-color: red; */
     transform-origin:  0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, 0px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px,0);
}


.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

.back-video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: -2;
    opacity: 90%;
    
}

/* awal */
#awal {
   padding-top: 90px;
   display: flex;
   overflow: hidden;
}

#awal h4 {
   padding-top: 20px;
   font-family:  'Poppins', sans-serif;
   font-size: 40px;
   color: black;
   margin-bottom: 17px;
   font-weight: 900;
}


#awal h2 {
    padding-top: 50px;
   font-family:  'Poppins', sans-serif;
   font-size: 40px;
   color: black;
   margin-bottom: 12px;
   font-weight: 900;
}


#awal .panah{
   position: relative;
   
}

#awal p{
    text-align: justify;
}



/* main content */
#maincontent {
   padding-top: 96px;
   display: flex;
   overflow: hidden;
}

#maincontent h3 {
   padding-top: 20px;
   font-family:  'Poppins', sans-serif;
   font-size: 40px;
   color: black;
   font-weight: 900;
}


#maincontent h2 {
    padding-top: 50px;
   font-family:  'Poppins', sans-serif;
   font-size: 40px;
   color: black;
   margin-bottom: 2px;
   font-weight: 900;
}
#maincontent p{
    text-align: justify;
}


/* content 1 */

#content {
   padding-top: 96px;
   overflow: hidden;
}

#content h2 {
    padding-top: 50px;
   font-family:  'Poppins', sans-serif;
   font-size: 40px;
   color: white;
   margin-bottom: 10px;
   font-weight: 900;
}


#content .gambar{
   
   position: relative;
   
}

#content p{
    text-align: justify;
    color: white;
}

#content .museum{
    background-color: #B7B6AC;
}
/* content2 */

#content2 {

   padding-bottom: 66px;
   overflow: hidden;
}

#content2 h2 {
   padding-top: 50px;
   font-family:  'Poppins', sans-serif;
   font-size: 40px;
   color: black;
   margin-bottom: 12px;
   font-weight: 900;
}


#content2 .gambar{
    padding-top: 20px;
    position: relative;
   
}

#content2 p{
    text-align: justify;
}


/* bandros */

#bandros {
   padding-top: 96px;
   display: flex;
   overflow: hidden;
   background-color:#302f2f ;
}

#bandros h3 {
   padding-top: 20px;
   font-family:  'Poppins', sans-serif;
   font-size: 40px;
   color: white;
   margin-bottom: 17px;
   font-weight: 900;
}


#bandros h2 {
   padding: 20px;
   font-family:  'Poppins', sans-serif;
   font-size: 40px;
   color: white;
   margin-bottom: 12px;
   font-weight: 900;
   text-align: end;
}
#bandros h5 {
  
   font-family:  'Poppins', sans-serif;
   text-align: end;
   color: white;
   margin-bottom: 12px;
   font-weight: 900;
}

/* popular */

#popular {
   padding-top: 96px;
   
   display: flex;
   overflow: hidden;
   background-color:#B7B6AC;
}


#popular h3 {
   padding: 20px;
   font-family:  'Poppins', sans-serif;
   font-size: 40px;
   color: black;
   margin-bottom: 12px;
   font-weight: 900;
   text-align: center;
}

#popular h4 {
   padding: 8px;
   font-family:  'Poppins', sans-serif;
   font-size: 20px;
   color: black;
   margin-bottom: 12px;
   font-weight: 900;
   text-align: start;
}


#popular p{
    color: black;
}


/* responsive */
@media (min-aspect-ratio : 16/9){
    .gambar{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio : 9/16){
    .gambar{
        width: auto;
        height: 100%;
        position: absolute;
    }
}

@media screen and (max-width :1920px) {
    .nav ul{
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #302f2f;
        transform: translateX(100%);
        transition: all 1s ;
    }
    .nav ul.slide{
        transform: translateX(0);
    }
    
    .menu-toggle {
        display: flex;
    }
    
}
@media screen and (max-width : 1296px){
    .nav ul{
        width: 45%;
    }
    
    .content h3{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 70px;
    transition: 0.5s;
    }
    .hero .gambar{
        width: auto;
        height: 100%;
        position: absolute;
    }
    .content p{
     text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    border: 2px solid white ;
    padding: 12px 50px;
    border-radius: 40px;
    transition: 0.5s;
    }
    .nav .logo{
        width: 40%;
        transition: 0.5s;
    }
    #awal .panah{
        width: 40%;
        position: absolute;
        transition: 0.5s;
    }
    

    
}

@media screen and (max-width : 768px){
    .nav ul{
        width: 50%;
    }
    .content h3{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 40px;
    transition: 0.5s;
    }
    .hero .gambar{
        width: auto;
        height: 100%;
        position: absolute;
    }
    .content p{
     text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 12x;
    border: 1px solid white ;
    padding: 10px 40px;
    border-radius: 20px;
    transition: 0.5s;
    }
    #awal .panah{
        width: 40%;
        position: relative;
        transition: 0.5s;
    }
    

    
}

@media screen and (max-width : 576px){
    .nav ul{
    
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: black;
        
        transform: translateX(100%);
        transition: all 1s ;
    }
    .nav ul.slide{
        transform: translateX(0);
    }
    
    .menu-toggle {
        display: flex;
    }
    .content h3{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 30px;
    transition: 0.5s;
    }
    .hero .gambar{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .content p{
        display: none;
    }
    #awal .panah{
        display: none;
        transition: 0.5s;
    }
    

    
}